
<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <div class="row">
        <div class="col-12" style="color:white; background-color: black; text-align: center">ABILITY SCORES</div>
      </div>
      <div class="row" style="font-size:11px; white-space: nowrap;overflow: hidden; text-align: center">
        <div class="col-2"></div>
        <div class="col-2">SCORE</div>
        <div class="col-2">MODIFIER</div>
        <div class="col-2">BONUS</div>
        <div class="col-2">PENALTY</div>
        <div class="col-2">TEMP</div>
      </div>
      <div *ngFor="let a of abilities;" class="row" style="text-align: center; margin-bottom: 5px">
        <div class="col-2" style="color:white; background-color: black; text-align: center" [matTooltip]="a.description">{{a.shortNm}} <p style="font-size:8px;margin-bottom: 2px">{{a.name}}</p></div>
        <div class="col-2 case"><p>{{charAbilities.get(a.abilityId)?.value}}</p></div>
        <div class="col-2 case"><p>{{charAbilities.get(a.abilityId)?.modifier}}</p></div>
        <div class="col-2 case"><p>{{charAbilities.get(a.abilityId)?.bonus}}</p></div>
        <div class="col-2 case"><p>{{charAbilities.get(a.abilityId)?.penalty}}</p></div>
        <div class="col-2 case"></div>
      </div>
    </div>

    <div class="col-sm-12 col-md-2">
      <div class="row">
        <div class="col-12" style="color:white; background-color: black; text-align: center">HIT POINTS</div>
      </div>
    </div>

    <div style="border: 3px black solid" class="col-md-5 col-sm-12">
      <div class="row">
        <div class="col-12" style="color:white; background-color: black; text-align: center">BASIC INFORMATION</div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12" >
          <div class="row" style="font-size:11px; white-space: nowrap;overflow: hidden; text-align: center">
            <label for="input-char-name">Character Name</label>
            <input *ngIf="currentChar && currentChar.name" id="input-char-name" class="col-12" type="text" placeholder="Character Name" value="{{currentChar.name}}" />

            <label for="input-char-alignment">Alignment</label>
            <input *ngIf="currentChar && currentChar.alignment" id="input-char-alignment" class="col-12" type="text" placeholder="Alignment" value="{{currentChar.alignment}}" />

            <label for="input-char-race">Race</label>
            <input *ngIf="currentChar && currentChar.race" id="input-char-race" class="col-12" type="text" placeholder="Race" value="{{currentChar.race}}" />

            <label for="input-char-deity">Deity</label>
            <input *ngIf="currentChar && currentChar.deity" id="input-char-deity" class="col-12" type="text" placeholder="Deity" value="{{currentChar.deity}}" />

            <label for="input-char-age">Age</label>
            <input *ngIf="currentChar && currentChar.age" id="input-char-age" class="col-12" type="number" placeholder="Age" value="{{currentChar.age}}" />

            <label for="input-char-gender">Gender</label>
            <input *ngIf="currentChar && currentChar.gender" id="input-char-gender" class="col-12" type="text" placeholder="Gender" value="{{currentChar.gender}}" />

            <label for="input-char-weight">Weight</label>
            <input *ngIf="currentChar && currentChar.weight" id="input-char-weight" class="col-12" type="text" placeholder="Weight" value="{{currentChar.weight}} {{currentChar.weightUnit}}" />

            <label for="input-char-height">Height</label>
            <input *ngIf="currentChar && currentChar.height" id="input-char-height" class="col-12" type="text" placeholder="Height" value="{{currentChar.height}} {{currentChar.heightUnit}}" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12" style="color:white; background-color: black; text-align: center">SKILLS</div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12" >
          <div class="row" style="font-size:11px; white-space: nowrap;overflow: hidden; text-align: center">
            <div class="col-2"></div>
            <div class="col-2">TOTAL</div>
            <div class="col-2">MODIFIER</div>
            <div class="col-2">RANKS</div>
            <div class="col-2">MISC</div>
            <div class="col-2">COND</div>
          </div>

          <!--<div *ngFor="let c of charSkills" class="row">
            <div class="col-2">
              <label  [matTooltip]="c.description">
                <input [disabled]="!editMode" type="checkbox" [checked]="c.checked" [id]="c.name" [name]="c.name | titlecase">
                {{c.name | titlecase }}
              </label>
            </div>
            <div style="text-align: center" class="col-2">{{c.total}}</div><p style="margin-left: -20px">=</p>
            <p>{{c.primaryStat}}</p>
            <div style="text-align: center" class="col-2">{{c.modifier}}</div><p style="margin-left: -10px">+</p>
            <div style="text-align: center" class="col-2"></div><p style="margin-left: -10px">+</p>
            <div style="text-align: center" class="col-2"></div><p style="margin-left: -10px">+</p>
            <div style="text-align: center" class="col-2"></div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<button (click)="back()">Back</button>
<!--<button *ngIf="!editMode" (click)="editMode = !editMode">Edit</button>
<button *ngIf="editMode" (click)="editMode = !editMode; saveChar()">Save</button>-->
