
<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <app-character-abilities [charId]="charId"></app-character-abilities>
    </div>

    <div class="col-sm-12 col-md-2">
      <div class="row">
        <div class="col-12" style="color:white; background-color: black; text-align: center">HIT POINTS</div>
      </div>
    </div>

    <div style="border: 3px black solid" class="col-md-5 col-sm-12">
      <app-character-basic-information [charId]="charId"></app-character-basic-information>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-character-skills [charId]="charId"></app-character-skills>
    </div>
  </div>
</div>

<button class="back-button" (click)="back()">Back</button>
<!--<button *ngIf="!editMode" (click)="editMode = !editMode">Edit</button>
<button *ngIf="editMode" (click)="editMode = !editMode; saveChar()">Save</button>-->
