i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  cursor: pointer;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  cursor: pointer;
}

::ng-deep .mat-tooltip {
  opacity: 1;
  color:black;
  background-color:grey;
}

.back-button { display: block; margin: 0 auto; }
