<div class="row">
  <div class="col-12" style="color:white; background-color: black; text-align: center">SKILLS</div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12" >
    <div class="row" style="font-size:11px; white-space: nowrap;overflow: hidden; text-align: center">
      <div class="col-2"></div>
      <div class="col-2">TOTAL</div>
      <div class="col-2">MODIFIER</div>
      <div class="col-2">RANKS</div>
      <div class="col-2">MISC</div>
      <div class="col-2">COND</div>
    </div>

    <div *ngFor="let s of skills" class="row">
      <div class="col-2">
        <label  [matTooltip]="s.description">
          {{s.name | titlecase }}
        </label>
      </div>
      <div style="text-align: center" class="col-2">
        {{charSkills.get(s.skillId)?.value + 2}}
      </div><p style="margin-left: -20px">=</p>
      <p>{{s.primaryStat}}</p>
      <div style="text-align: center" class="col-2">
        2
      </div>
      <p style="margin-left: -10px">+</p>
      <div style="text-align: center" class="col-2">
        <p>{{charSkills.get(s.skillId)?.value}}</p>
      </div><p style="margin-left: -10px">+</p>
      <div style="text-align: center" class="col-2"></div><p style="margin-left: -10px">+</p>
      <div style="text-align: center" class="col-2"></div>
    </div>
  </div>
</div>
